<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-top: 60px !important; width: 95%; margin: auto;" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]= "img1" class="d-block w-100" alt="img1" style="height: 300px; object-fit:cover; width: 90%;">
      </div>
      <div class="carousel-item">
        <img [src]= "img2" class="d-block w-100" alt="..."  style="height: 300px; object-fit:cover; width: 90%;">
      </div>
      <div class="carousel-item">
        <img [src]= "img3" class="d-block w-100" alt="..."  style="height: 300px; object-fit:cover; width: 90%;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="home">
    <div class="row-1">
        <div class="users">
            <p class="container-user">
                <span>USUARIOS</span>
                <span>2</span>
            </p>
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="ventas">
            <p class="container-ventas">
                <span>VENTAS</span>
                <span>2</span>
            </p>
            <i class="fa-solid fa-dollar-sign"></i>
        </div>
    </div>
    <div class="row-1">
        <div class="users">
            <p class="container-user">
                <span>PROGRESO</span>
                <span>OPTIMO</span>
            </p>
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="ventas">
            <p class="container-ventas">
                <span>PLAN</span>
                <span>SEMESTRAL</span>
            </p>
            <i class="fa-solid fa-dollar-sign"></i>
        </div>
    </div>
    <div class="row-1">
        <div class="users">
            <p class="container-user">
                <span>ASISTENCIA</span>
                <span>8 DÍAS</span>
            </p>
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="ventas">
            <p class="container-ventas">
                <span>FALTAS</span>
                <span>2 DÍAS</span>
            </p>
            <i class="fa-solid fa-dollar-sign"></i>
        </div>
    </div>
</div>
