
<div class="users">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Plan</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Fin</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Paoolo Fernando</td>
          <td>Esteban Martel</td>
          <td>paoolo3521@hotmail.com</td>
          <td>Mensual</td>
          <td>08-12-2022</td>
          <td>08-01-2023</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Max Houston</td>
          <td>Ramirez Martel</td>
          <td>maxr524@gmail.com</td>
          <td>Semestral</td>
          <td>10-12-2022</td>
          <td>10-06-2023</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Lizeth Zeida</td>
          <td>Gomez Cajas</td>
          <td>stheysi17@gmail.com</td>
          <td>Bimestral</td>
          <td>07-12-2022</td>
          <td>08-02-2023</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Nataly Cesia</td>
          <td>Esteban Gomez</td>
          <td>cesia24@gmail.com</td>
          <td>Anual</td>
          <td>08-12-2022</td>
          <td>08-12-2023</td>
        </tr>
      </tbody>
  </table>
</div>